.title_info{
    background-color: green;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
}


.title_info h4{
font-size: 18px;
color: #fff;
position: absolute;
top: 50%;
left: 50%;
margin: auto;
transform: translate(-50%,-50%);
text-align: center;
}

.flex_info{
    align-items: center;
    border-bottom: 1px solid grey;
    font-size: 12px;
}
p{
    margin: 10px 0;
}

.border_bottom{
    border-bottom: 1px solid grey;
    padding: 10px 0 ;
}

h5{
    font-size: 15px;
}